@media (max-width: 1280px) {}

@media (max-width: 1024px) {

    // ============= HEADER =============
    .header {
        display: none;
    }

    // ============= HEADER =============

    // ============= MENU =============
    .menu {
        display: none;
    }

    // ============= MENU =============

    // ============= MENU__descr =============
    .menu__desc {
        display: block;
    }

    // ============= MENU__descr =============

    // ============= Intro =============
    .intro {

        .slick-arrow {
            width: 0px;
            height: 0px;
        }
    }

    // ============= Intro =============
}

@media (max-width: 768px) {

    // ============= Intro =============
    .intro {
        &__slider {
            &-title {
                font-size: 80px;
            }
        }
    }

    // ============= Intro =============

    // ============= Tovar =============
    .tovar {
        padding-top: 30px;
    }

    // ============= Tovar =============

    // ============= Title =============
    .title {
        padding-bottom: 30px;

        h3 {
            font-size: 50px;
        }
    }

    // ============= Title =============

    // ============= About =============
    .about {
        padding: 50px 0;

        .title {
            h3 {
                font-size: 45px;
            }
        }

        &__wrapper {
            justify-content: center;
        }

        &__item {
            width: 33.333%;
        }
    }

    // ============= About =============

    // ============= Accordeon  =============
    .footer {
        padding: 20px 0px;
    }
    .footer__wrapper {
        display: none;
    }

    .accordeon {
        display: block;
    }

    // ============= Accordeon  =============
}

@media (max-width: 600px) {

    // ============= Intro =============
    .intro {
        &__slider {
            &-title {
                font-size: 60px;
            }

            &-subtitle {
                font-size: 20px;
            }

            &-btn {
                display: none;
            }
        }
    }

    // ============= Intro =============

    // ============= Gallery =============

    .gallery {
        &__slider {
            .slick-next {
                right: 30%;
            }

            .slick-prev {
                left: 30%;
            }
        }
    }

    // ============= Gallery =============
    // ============= About =============
    .about {

        .title {
            h3 {
                font-size: 45px;
            }

            img {
                display: none;
            }
        }
    }

    // ============= About =============

    // ============= Contact =============
    .contact {
        &__wrapper {
            text-align: center;
        }

        &__title {
            font-size: 40px;
        }

        &__form {
            input {
                margin-bottom: 20px;
            }
        }

        .intro__slider-btn {
            display: block;
        }
    }

    // ============= Contact =============

    // ============= Company =============
    .company {
        padding: 50px 0px;
        .title {
            h3 {
                font-size: 35px;
            }
        }
        &__wrapper {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__item {
            width: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
        }
        &__text {
            display: none;
        }
    }
    // ============= Company =============




}

@media (max-width: 480px) {

    // ============= Intro =============
    .intro {
        &__slider {
            &-title {
                font-size: 45px;
            }

            &-subtitle {
                font-size: 16px;
            }
        }
    }

    // ============= Intro =============

    // ============= Gallery =============

    .gallery {
        &__slider {
            .slick-next {
                right: 25%;
            }

            .slick-prev {
                left: 25%;
            }
        }
    }

    // ============= Gallery =============

    // ============= Title =============
    .title {
        h3 {
            font-size: 40px;
            margin: 0px 15px;
        }
    }

    // ============= Title =============

    // ============= About =============
    .about {
        &__item {
            width: 50%;
        }

        .title {
            h3 {
                font-size: 38px;
            }

            img {
                display: none;
            }
        }
    }

    // ============= About =============

    // ============= Footer =============
    .footer__copy {
        flex-direction: column-reverse;
    }
    .footer__copy-text {
        text-align: center;
        width: 100%;
    }
    .footer__copy-icon {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    // ============= Footer =============
}

@media (max-width: 320px) {

    // ============= MENU__descr =============
    .menu__desc-wrapper {
        i {
            margin: 0;
        }
    }

    // ============= MENU__descr =============

    // ============= Intro =============
    .intro {
        &__slider {
            &-title {
                font-size: 34px;
            }

            &-subtitle {
                font-size: 12px;
            }
        }
    }

    // ============= Intro =============

    // ============= Gallery =============

    .gallery {
        &__slider {
            &-content {
                padding: 15px;
            }

            &-title {
                font-size: 18px;
            }

            &-subtitle {
                font-size: 10px;
            }

            &-price {
                font-size: 14px;

                sup {
                    font-size: 10px;
                }
            }

            .slick-next {
                right: 15%;
            }

            .slick-prev {
                left: 15%;
            }
        }
    }

    .btn-tovar {
        padding: 10px 20px;
    }

    // ============= Gallery =============

    // ============= Title =============
    .title {
        h3 {
            font-size: 24px;
            margin: 0px 0px;
        }
    }

    // ============= Title =============

    // ============= About =============
    .about {
        &__item {
            width: 100%;
        }

        .title {
            text-align: center;

            h3 {
                font-size: 38px;
            }

            img {
                display: none;
            }
        }
    }

    // ============= About =============

    // ============= Contact =============
    .contact {

        &__title {
            font-size: 30px;
        }
    }
    // ============= Contact =============

    // ============= Company =============
    .company {
        .title {
            img {
                display: none;
            }
        }
    }
    // ============= Company =============

    
}