.intro {
    &__slider {
        position: relative;
        z-index: 5;
        &-item {
            padding: 120px 0;
        }
        &-title {
            font-family: 'Lemon Tuesday';
            color: #84c604;
            font-size: 110px;
            margin-bottom: 50px;
        }
        &-subtitle {
            font-size: 28px;
            font-style: italic;
            color: #fff;

            margin-bottom: 60px;
        }
        &-btn {
            padding: 21px 74px;
            border: none; 
            border-radius: 5px;
            background-color: #fd4f10;
            color: #fff;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .2s linear;

            &:hover {
                background-color: #fff;
                color: #fd4f10;
            }
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            font-size: 0;
            width: 54px;
            height: 54px;
            background: none;
            border: none;
            outline: none;
            margin: -54px 0 0 0;

            cursor: pointer;
        }   

        .slick-prev {
            left: 150px;
            background-image: url(../../img/slider__left.png);
            background-repeat: no-repeat;
        }

        .slick-next {
            right: 150px;
            background-image: url(../../img/slider__right.png);
            background-repeat: no-repeat;
        }

        .slick-dots {


            display: flex;
            align-items: center;

            position: absolute;
            bottom: 70px;
            left: 50%;
            li {
                margin: 0px 5px;
                list-style: none;
            }
            li.slick-active button {
                background-color: #84c604;
                border: 1px solid #84c604;
            }
            button {
                border: 1px solid #fff;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: transparent;
                outline: none;  
                font-size: 0;
            }
        }
    }
}