.menu__desc {
    padding: 10px 0px;

    display: none;
    &-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-wrapper {
        i {
            color: #1fba0a;
            margin-left: 20px;
        }
    }

    .menu__burger {
        width: 30px;
        height: 5px;
        background-color: #1fba0a;
        position: relative;
        transition: all .2s linear .2s;
        &:before,
        &:after {
            position: absolute;
            left: 0;
            content: "";
            display: block;
            width: 30px;
            height: 5px;
            background-color: #1fba0a;
        }
        &:before {
            top: -10px;
            transition: transform .2s ease-in, top .2s linear .2s;
        }
        &:after {
            top: 10px;
            transition: transform .2s ease-in, top .2s linear .2s;
        }
    }
    .menu__burger.active {
        background-color: transparent;
        transition: all .2s linear;
    }
    .menu__burger.active::before {
        transform: rotate(45deg);
        top: 0;
        transition: top .2s linear, transform .2s ease-in .2s;
    }
    .menu__burger.active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top .2s linear, transform .2s ease-in .2s;
    }
}

